<!DOCTYPE html>
{% load static %} <!-- Charge le tag 'static' pour inclure les fichiers statiques -->
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion Rendezvous{% endblock %}</title>
    
    <!-- Inclusion de Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


    <!-- Inclusion de votre propre fichier CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Gestion Rendezvous</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
    
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register/">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/client-dashboard/">Client Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/mechanic-dashboard/">Mechanic Dashboard</a>
                    </li>
                    <a class="nav-link" href="/stats/">Statistiques</a>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenu principal -->
    <main class="container mt-4">
        {% block content %}
        <h1>Bienvenue dans l'application Gestion Rendezvous</h1>
        {% endblock %}
    </main>

    <!-- Pied de page -->
    <footer class="bg-light text-center py-3">
        <p>&copy; 2024 Gestion Rendezvous. Tous droits réservés.</p>
    </footer>

    <!-- Inclusion de Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
